*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #F8F8F8;
}

.case_wrap{
	width: 100%;
	height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
	background-image: url('./Assets/img/Case-Capa-K360@2x.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.container_cases{
	/*width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;*/
}

.buttons_wrap{
	width: 50%;
  height: 100px;
  align-self: flex-start;
}

.container_principal{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container_principal-intro{
	width: 34%;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.intro-title{
	width: 100%;
	height: 100%;
	font-size: 32px;
	color: #fff;
}

.intro-paragraph{
  width: 84%;	
  height: 100%;
  display: flex;
  align-items: center;
	font-size: 18px;
	color: #000;
}

.cases_wrap-description{
  width: 100%;
  height: 250px;
  display: flex;
  background-color: #fff;
}

.wrap_description-infos{
	width: 100%;
	height: 100%;
	padding: 3%;
	display: flex;
  align-items: flex-start;
	flex-direction: column;
  font-size: 16px;
}

.description_infos-title{
	background-color: #ffde3b;
}

.container_img{
	width: 60%;
  height: 30vh;
  display: flex;
  background-color: #00C8DB;
}

.case_wrap-content{
	width: 100%;
	height: 100%;
}

.wrap_content{
	width: 100%;
  height: 100%;
	display: flex;
}

.aside{
	width: 15%;
  height: 100vh;
  margin: 130px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.wrap_content-img--cellphone{
	width: 85%;
  height: 60%;
}

.wrap_box-paragraphs{
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box-paragraphs_content{
	width: 40%;
	height: 100%;
	display: flex;
  justify-content: center;
	flex-direction: column;
}

.paragraphs_content{
	width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;	
}

/*.paragraphs_content-two{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;	
}*/

.box-paragraphs_content-phrase{ 
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-start;
}

.content_paragraphs-img{
	width: 50%;
  height: 50vh;
  margin: 15px 0 0;
  background-color: blue;
}

.container_final_description{
  width: 100%;
  height: 100%;
  padding: 70px;
  display: flex;
  flex-direction: column;
}

.abc{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.final_description-paragraph{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container_final_description-items{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.final_description_items{
	height: 100%;
	display: flex;
	justify-content: center;
	margin: 0 5px;
	background-color: #ffde3b;
}

/*.final_description_items{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px;
	background-color: #ffde3b;
}*/