
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

/*  Menu  */
.header-container {
  margin: 0;
  position: absolute;
  width: 6vw;
}

.wrapper-header {
  height: 100vh;
  background-color: #F2F2F2;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.header-logo {
  margin-top: 60px;
  height: 60px;
}


.lang-item {
  padding: 10px;
 transform: rotate(-90deg);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  list-style: none;
  transform: rotate(-90deg);
}

.menu-item {
  margin-left: 20px;
  font-size: 0.875rem;
}

/*  Home     */

.home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.home-content-eco{
  width: 31vw;
  height: 100vh;
  background-image: url(./Assets/img/Imagem1@2x.jpg);
  background-size: cover;
}

.home-info:hover {
  background-color: rgba(255, 221, 0, 80%);
  height: 40vh;

}

.info-title:hover {
}

.info-description:hover {
  width: 40%;
}

.home-content-test2 {
  width: 31vw;
  height: 100vh;
  background-image: url(./Assets/img/Imagem2@2x.jpg);
  background-size: cover;
}
.home-content-test3 {
  width: 31vw;
  height: 100vh;
  background-image: url(./Assets/img/Imagem3@2x.jpg);
  background-size: cover;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-content {
  margin: 0;
  padding: 0;
  position: relative;
}

.home-more {
  width: 972px;
  height: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
}

/*  Work */
.work {
  width: 100vw;
  height: 100vh;
}

.wrapper-topic {
  width: 50vw;
}

.wrapper-work {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-span{
  padding: 40px 0 0 80px;
  display: flex;
  flex-direction: column;
  font-size: 1.625rem;
  text-transform: uppercase;
}

.work-results {
   width: 680px;
    height: 600px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #742698;
    flex-direction: column;
}

.work-item {
  list-style: none;
  width: 50%;
  font-size: 1.25rem;
  color: #fff;
  margin: 80px 0 0 80px;
  letter-spacing: 1px;
  line-height: 25px;
}

.work-topic{
  padding: 20px;
}

.topic-title {
  font-size: 2.5rem;
}
 
.work-description {
    width: 50%;
    font-size: 1rem;
    color: #fff;
    margin: 80px;
    letter-spacing: 1px;
    line-height: 23px;
}

/*  Contact  */

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/contato-ruido.gif");
}

/*.contact canvas {
  width: 100vw;
  height: 100vh;
}
*/
/*.contact::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 221, 0);
  opacity: 0.8;
}*/

.contact .container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-box {
  position: relative;
  width: 50%;
  margin: auto;
}

@media (max-width: 768px) {
  .contact .container {
    height: 100vh;
  }

  .contact-description {
    width: 280px;
  }
}

@media (max-width: 425px) {
  .contact-box {
    width: auto;
  }
}

.contact-description-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.125rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 10px 0px 0px 4px #000, -10px 0px 0px 4px #000;
  background: #000;
  display: inline;
}

.contact-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.contact-address-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 14px 0px 0px 0px #000, -14px 0px 0px 0px #000;
  background: #000;
  display: inline;
  margin: 5px 0;
}

@media (max-width: 425px) {
  .contact-description-text {
    font-size: 1.75rem;
    line-height: 46px;
  }

  .contact-address-text {
    font-size: 1.125rem;
    line-height: 34px;
  }

}

.contact-social {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: -60px;
  margin-bottom: 5vh;
}

@media (max-width: 768px) {
  .contact-social{
    justify-content: space-between;
    flex-flow: row wrap;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
    .contact-social{
    width: 300px;
    margin-bottom: 0;
    }
}

.contact-social a {
  color: black;
  margin-right: 30px;
}

.contact-social-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 10px rgb(255, 221, 0);
  background: rgb(255, 221, 0);
  display: inline;
}

@media (max-width: 768px) {
  .contact-social-text {
    font-size: 1rem;
    padding: 10px;
    box-shadow: 10px 0 0 0 rgb(255, 221, 0), -10px 0 0 0 rgb(255, 221, 0);
  }
  .contact-social a {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .contact-social-text {
    padding: 6px;
    box-shadow: 6px 0 0 0 rgb(255, 221, 0), -6px 0 0 0 rgb(255, 221, 0);
  }
}

.contact-development {
  font-family: SkyhookMonoBold;
  font-size: .75rem;
  box-shadow: 10px 0 0 0 white, -10px 0 0 0 white;
  background-color: white;
  padding: 5px 0;
}

.contact-development a {
  margin: 0;
}

@media (max-width: 768px) {
  .contact-development {
    margin: 20px auto 0 0;
  }
}

@media (max-width: 768px) {
  .contact-development {
    font-family: SkyhookMonoBold;
    font-size: .75rem;
    box-shadow: 6px 0 0 0 white, -6px 0 0 0 white;
    background-color: white;
    padding: 5px 0;
  }
}