*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
  background-color: #F8F8F8;
}

.container {
  width: 90vw;
  height: 13%;
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
  @media(max-width:768px) {
    .container {
      margin: 0;
      /* justify-content: flex-start; */
    }
  }

/*  Menu  */
.header-container {
  width: 6%;
  height: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .header-container {
    width: 100%;
    height: 100%;
  }
}

.wrapper-header {
  height: 100vh;
  width: 5vw;
  margin: 0;
  background-color: #F2F2F2;
  position: fixed;  
  font-family: SkyhookMonoRegular;
  z-index: 99;
}
  @media (max-width: 768px) {
  .wrapper-header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    opacity: 0;
    transition: all 0.25s ease-in;
  }
}

.fade-in {
  opacity: 1;
}


.header-logoBox {
  height: 17%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 
@media (max-width: 768px) {
  .header-logoBox{
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-logo {
  width: 60%; 
}
@media (max-width: 768px){
  .header-logo {
    display: none;
  }
}


.header-logo-hover{
  display: none;
}  
@media (max-width: 768px) {
  .header-logo-hover{
    display: block;
    width: 55vw;
  }
}

.menu {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
  @media (max-width: 768px){
    .menu {
      width: 20vw;
      height: 8vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
}

.menu-icon-mobile {
    display: none;
}

@media (max-width: 768px) {
  .menu-icon-mobile {
    display: block;
    width: 26px;
    margin: 20px 30px;
  }
}

.menu-list {
  width: 45vh;
  display: flex;
  justify-content: space-between; 
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }

  .menu-list.--drop-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 60vh;
    height: 40vh;
    width: 100vw;
    transform: rotate(0deg);
    z-index: 99;
    padding: 2rem;
  }
}

.menu-list a {
  text-decoration: none;
  position: relative;
  color: #000;
}

.menu-list a:hover {
  color: #000;
}

.menu-list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  font-size: 1rem;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-item {
  font-size: 1rem;
  color: #000;
  font-family: SkyhookMonoRegular;
  position: relative;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-item {
    display: none;
    margin-right: 25px; 
  }

  .menu-item.--drop-item {
    display: block;
    font-family: SkyhookMonoBold;
    font-size: 1.5rem;
    color: rgb(256,256,256);
  }
}

.menu-lang {
  width: 5vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-lang {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
  }

  .menu-lang.--drop-lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    transform: rotate(0deg);
    height: 35vh;
    width: 30vw;
    z-index: 99; 
  }
}

.header-social {
  display: none;
}

@media ( max-width: 768px) {
  .header-social {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
  }

  .header-social.--drop-social {
    display: flex;
    height: 25vh;
    z-index: 99; 
  }
}

.social-icon {
  width: 45px;
}

@media (max-width: 500px) {
  .social-icon {
    width: 25px;
  }
}


/* Cases */
.case {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
  @media (max-width: 768px) {
    .case{
      height: 100vh;
    }
  }

.case-container {
  width: 100vw;
  height: 100vh;
 
}
@media (max-width: 768px) {
  .case-container {
    display: flex;
    justify-content: flex-end;
  }
}

.case-container.k360 {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url("../img/Case-Capa-K360@2x.jpg");
  background-size: cover;
  background-position: center;
}

.case-container.startupin {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-Mypolis@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-container.robo {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-Robo@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-container.furnas {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-VnW@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-content {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
  /* @media(max-width:668px) {
    .case-content {
      height: 80%;
    }
  } */

.case-wrapper {
  background-color: #f8f8f8;
  width: 100%;
  height: 40%;
  display: flex;
  padding: 1rem 2.5rem;
}

@media (max-width: 425px) {
  .case-wrapper {
    height: 40%;
  }
}

.case-info{
  width: 404px;
  height: 55%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .case-info {
    width: 43vw;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .case-info {
    width: 85vw;
    height: 60%;;
  }
}

.case-vaiNaWeb{
  width: 55%;
}

.home-vaiNaWeb {
  width: 50%;
}


.container-title-case {
  height: 25%;;
  font-size: 1.65rem;
  color: #fff;
  letter-spacing: 0.25rem;
  line-height: .95rem;
  font-family: Introdução, Black Caps;
}

.container-description-case {
  margin-top: 1rem;
  font-size: 0.95rem;
  font-family: SkyhookMonoBold;
  color: #fff;
}
@media (max-width: 768px) {
  .container-description-case {
    width: 80%;
    display: none;

  }
}
/* @media (max-width: 768px) {
  .container-description-case {
    width: 30vw;
    line-height: 1.5rem;
  }
} */

.case-description { 
  font-size: 2rem;
  color: #fff;
  font-family: Introdução, Black Caps;
  font-weight: 900;
  line-height: 2.75rem;
  display: none;
}
  @media(max-width: 768px) {
    .case-description {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
  }

@media(max-width: 768px) {
  .case-description-vaiNaWeb {
    width: auto;
  }
  .case-description-startup { 
    width: auto;
  }
}

.case-description.-show {
  display: block;
}

.more-list {
  width: 142px;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffdd00;
  border: solid #ffdd00 1px;
  border-radius: 20px;
}


.more-list:hover {
  background-color: #ffdd00;
  color: #000000;
}
  @media(max-width: 768px) {
    .more-list {
      background-color: #ffdd00;
      color: #000000;
    }
  }

.more-case {
  /* color: #ffdd00;
  font-family: SkyhookMonoRegular;
  font-size: 1rem;
  padding: 20px 0 0 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column; */
  display: none;
}
.more-case.-show {
  width: 100%;
  display: block;
}

  @media (max-width: 768px) {
    .more-case {
      display: none;
    }
  }

.more-case a {
  text-decoration: none;
  font-family: SkyhookMonoRegular;
  font-size: 1rem;
  color: inherit;
  /* padding: 20px 0 0 20px; */
  cursor: pointer;
  display: flex;
  justify-content:space-evenly;
}


.more-case-seta {
  color: #ffdd00;
  font-family: SkyhookMonoRegular;
  font-size: 1.5rem;
  padding-left: 20px;
  display: none;
}

/* .more-case-seta.-show {
  display: block;
} */

@media(max-width: 768px) { 
  .span-case{
    display: none;
  }
}

.span-caseDescription{
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
  width: 361px;
  margin-top: 13px;
  line-height: 2.12rem;
  display: none;
  position: fixed;
}
@media( max-width: 1024px) {
  .span-caseDescription{
    display: none;
  }
}

.span-caseDescription.-show{
  display: block;
}

.case-itemNumber{
  margin-right: 2rem;
  font-size: .85rem;
  font-family: SkyhookMonoRegular;
}

.case-item {
  font-size: 1.15rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  cursor: pointer;
}

.case-item, a{
   text-decoration: none;
}

.item-sobre {
  font-weight: bold;
}


.case-item--is-selected {
  font-weight: 900;
}

.case-list {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

@media( max-width: 768px) {
  .case-list{
    width: 100%;
  }
}