*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}

/* menu */
.header {
  display: none;
}

  @media(max-width: 768px) {
    .header {
      display: block;
    }
  }

.header-container {
  width: 6%;
  height: 100%;
  position: relative;
}

  @media (max-width: 768px) {
    .header-container {
      width: 100%;
      height: 100%;
    }
}

  @media (max-width: 768px) {
    .wrapper-header {
      width: 100%;
      height: 10vh;
      position: fixed;
      display: flex;
      align-items: center;
      background-color: rgba( 256, 256, 256, .9);
      opacity: 0;
      transition: all 0.25s ease-in;
      z-index: 100;
    }
  }

.fade-in {
  opacity: 1;
}

.link-header {
  display: flex;
  justify-content: center;
}

.header-logoBox {
  height: 17%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 

  @media (max-width: 768px) {
    .header-logoBox{
      margin: 0;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

.header-logo {
  width: 60%; 
}

  @media (max-width: 768px) {
    .header-logo {
      display: none;
    }
  }

.header-logo-hover {
  display: none;
}  

  @media (max-width: 768px) {
    .header-logo-hover{
      width: 55vw;
      display: block;
    }
  }

.menu {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

  @media (max-width: 768px) {
    .menu {
      width: 20vw;
      height: 8vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
}

.menu-icon-mobile {
    display: none;
}

  @media (max-width: 768px) {
    .menu-icon-mobile {
      width: 26px;
      margin: 20px 30px;
      display: block;
    }
  }

.menu-list {
  width: 45vh;
  display: flex;
  justify-content: space-between; 
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

  @media (max-width: 768px) {
    .menu-list {
      display: none;
    }

    .menu-list.--drop-menu {
      width: 100vw;
      height: 52vh;
      padding: 2.5rem;
      position: fixed;
      top: 48vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      background-color: rgba(0, 0, 0, 1);
      transform: rotate(0deg);
      z-index: 99;
    }
  }

.menu-list a {
  position: relative;
  text-decoration: none;
  color: #000;
}

.menu-list a:hover {
  color: #000;
}

.menu-list a:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -2px;
  font-size: 1rem;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-item {
  position: relative;
  font-size: 1rem;
  color: #000;
  font-family: SkyhookMonoRegular;
  text-decoration: none;
}

  @media (max-width: 768px) {
    .menu-item {
      display: none;
    }

    .menu-item.--drop-item {
      display: block;
      font-family: SkyhookMonoBold;
      font-size: 1.5rem;
      color: rgb(256,256,256);
    }
  }

.item-sobre {
  font-weight: bold;
}

.menu-lang {
  width: 5vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

  @media (max-width: 768px) {
    .menu-lang {
      height: 170px;
      right: 25px;
      position: fixed;
      right: 20px;
      top: 63vh;
      display: none;
      flex-direction: column;
      justify-content: space-between;
    }

    .menu-lang.--drop-lang {
      height: 30vh;
      width: 85px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      transform: rotate(0deg);
      z-index: 99;  
    }
  }

.header-social {
  display: none;
}

  @media ( max-width: 768px) {
    .header-social {
      height: 170px;
      right: 25px;
      position: fixed;
      right: 20px;
      top: 60vh;
      display: none;
      flex-direction: column;
      justify-content: space-between;
    }

    .header-social.--drop-social {
      display: flex;
      height: 25vh;
      z-index: 99; 
    }
  }

.social-icon {
  width: 45px;
}

.case_wrapper {
	width: 100%;
	height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
	background-image: url('../img/Case-Capa-VnW@2x.jpg');
	background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  @media (max-width: 768px) {
    .case_wrapper {
      height: auto;
      height: auto;
      background-size: auto;
      background-position: top;
    }
  }

.case-navigation-bot {
  width: 20vw;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  align-self: flex-start; 
  justify-content: space-around;
}

  @media(max-width:768px) {
    .case-navigation-bot {
      width: 55%;
      height: 100%;
      align-self: center;
      justify-content: center;
      align-items: center;
    }
  }

  @media(max-width:425px) {
    .case-navigation-bot {
      width: 65%;
    }
  }

  @media(max-width:320px) {
    .case-navigation-bot {
      width: 75%;
    }
  }

.box-navigation-top {
  width: 65%;
  height: 40%;
}

  @media(max-width:768px) {
   .box-navigation-top {
      display: none !important;
    }
  }

.box-navigation-footer {
  width: 65%;
  height: 40%;
}
  @media(max-width:768px) {
  .box-navigation-footer {
      width: 100%;
      height: 50%;
    }
  }

.case-navigation-top {
  width: 20vw;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  align-self: flex-start; 
  justify-content: space-around;
}

  @media(max-width:768px) {
    .case-navigation-top {
      display: none;
    }
  }

.arrow {
  width: 30%;
  height: 50%;
}

.container-home{
  width: 90%;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  
.home-description {
  height: 65%;
  display: flex;
  flex-direction: column;
}

  @media(max-width: 768px) {
    .home-description {
      height: 60%;
      width: 65%;
    }
  }

  @media(max-width: 425px) {
    .home-description {
      height: 95%;
      width: 100%;
    }
  }

.home-title {
  width: 489px;
  height: 100%;
  font-size: 2rem;
  line-height: 3rem;
  color: #000;
  font-family: Introdução, Black Caps;
}

  @media (max-width: 768px) {
    .home-title {
      width: 100%;
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
  }

.home-paragraph {
  width: 375px; 
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;  
  line-height: 2rem;
}

  @media (max-width: 768px) {
    .home-paragraph {
      width: 90%;
      line-height: 1.8rem;
    }
  }

.box-info {
  width: 90%;
  height: 35%;
}

  @media(max-width:768px) {
    .box-info {
      height: 50%;
    }
  }

.cases_wrap-description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #fcfcfc;
}

  @media(max-width: 768px) {
    .cases_wrap-description {
      width: auto;  
      height: auto;
      padding: 0;
      position: relative;
      flex-direction: column;
    }
  }

.wrap_description-infos {
  width: 18vw;
  height: 100%;
  padding-top: 5vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

  @media(max-width:768px) {
    .wrap_description-infos {
      width: 100%;
      padding: 2rem 0 0 1.5rem;
    }
  }

.description_infos-title {
  background-color: #ffde3b;
  font-family: SkyhookMonoBold;
}

.description-infos-paragraph {
  width: 100%;
  padding-top: .5rem;
  line-height: 1.62rem;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

  @media(max-width:768px) {
    .description-infos-paragraph {
      width: 100%;
    }
  }

.case_wrap-content {
  width: 100%;
  height: 100%;
}

.wrap_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrap_box-paragraphs {
  width: 100%;
  height: 100%;
  display: flex; 
}

  @media (max-width: 768px) {
    .wrap_box-paragraphs {
      width: 85%;
    }
  }

.box-figure {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}
 
  @media(max-width: 768px) {
    .box-figure {
      display: none;
    }
  }

.box-logoVnw {
  height: 100vh;
  display: flex;
  justify-content: center;
}
    
.box-logoEVnw {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo-vainaweb {
  width: 70%;
  padding-top: 4rem;
  display: flex;
  align-self: flex-start;
}

  @media(max-width: 768px) {
    .logo-vainaweb {
      display: none;
    }
  }

.logo-evainaweb {
  width: 70%;
  padding-top: 4rem;
  display: flex;
}

  @media(max-width: 768px) {
    .logo-evainaweb {
      display: none;
    }
  }


.box-description {
  width: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-paragraphs_content {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

  @media(max-width:768px) {
    .box-paragraphs_content {
      width: 75%;
    }
}

.paragraphs_content {
  width: 552px;
  height: 100%;
  padding: .75rem 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.75rem;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

  @media(max-width: 768px) {
    .paragraphs_content {
      width: 100%;
      height: auto;
    }
  }

.box-phone {
  width: auto;
  padding: 1rem 0;
  position: relative;
}

  @media(max-width: 768px) {
    .box-phone {
      height: auto;
      padding: .5rem 0;
    }
  }

  @media(max-width: 768px) {
    .img-vnw {
      width: 100%;
    }
  }

.box_content-phrase {
  margin: 6px 0;
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.container_final_description {
  width: 100%;
  height: 100%;
  padding: 70px 0;
  display: flex;
  align-items: flex-end;
}

.footer-box {
  width: 58vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

  @media(max-width: 768px) {
    .footer-box {
      width: 75%;
      height: 100%;
    }
  }

.final_description-paragraph {
  display: flex;
  justify-content: center;
  font-family: SkyhookMonoRegular;
  font-size: .85rem;
  font-weight: 600;
}

.container_final_description-items {
  display: flex;
  padding: 10px 0;
  font-size: 13px;
}

  @media(max-width:768px) {
    .container_final_description-items {
      height: 50%;
      flex-wrap: wrap;
    }
  }

.final_description-items {
  height: 25%;
  margin: 0rem 1rem 1rem 0rem;
  display: flex;
  justify-content: center;
  background-color: #ffde3b;
  box-shadow: 0px 0px 0px 6px #ffde3b, 0px 0px 0px 4px #ffde3b;
  font-family: SkyhookMonoRegular;
  font-size: .85rem;
}

.wrapper-footer {
  width: 100%;
  height: 20vh;
  display: flex;
}

  @media(max-width:768px) {
    .wrapper-footer {
      height: 50vh;
      flex-direction: column-reverse;
    }
  }

