*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #F8F8F8;
}

.case_wrapper{
	width: 100vw;
	height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
	background-image: url('../img/Case-Capa-K360@2x.jpg');
	background-position: center;
	background-size: cover;
}

.case-navigation{
  width: 20vw;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  align-self: flex-start; 
  justify-content: space-around;
}

.arrow-back {
  width: 3vw;
  height: 6vh;
}

.arrow-next {
  width: 3vw;
  height: 6vh;
  transform: rotate(180deg);
}

.container-home{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.home-description{
  width: 34%;
  height: 320px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.home-title{
  width: 24vw;
  height: 100%;
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
  font-family: Introdução, Black Caps;
}

.home-paragraph{
  width: 25vw; 
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;  
  line-height: 2rem;
}

.cases_wrap-description{
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
}

.wrap_description-infos{
  width: 16vw;
  height: 100vh;
  padding-top: 5vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.description_infos-title{
  background-color: #ffde3b;
  font-family: SkyhookMonoBold;
}

.case_wrap-content{
  width: 100%;
  height: 100%;
}

.wrap_content{
  width: 100%;
  height: 100%;
  display: flex;
}

.wrap_box-paragraphs{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-paragraphs_content{
  width: 37vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.paragraphs_content{
  width: 100%;
  height: 100%;
  margin: 10px 0; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.box_content-phrase{
  margin: 6px 0;
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.container_final_description{
  width: 100%;
  height: 100%;
  padding: 70px 0;
  display: flex;
  align-items: flex-end;
}

.footer-box{
  width: 58vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.final_description-paragraph{
  display: flex;
  justify-content: center;
  font-family: SkyhookMonoRegular;
  font-size: .85rem;
  font-weight: 600;
}

.container_final_description-items{
  display: flex;
  padding: 10px 0;
  font-size: 13px;
}

.final_description-items{
  height: 25%;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  background-color: #ffde3b;
  font-family: SkyhookMonoRegular;
  font-size: .85rem;
}

.wrapper-footer {
  display: flex;
  width: 100vw;
  height: 20vh;
}