*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
  background-color: #FCFCFC;
}

/*  Menu  */
.header-container {
  width: 6%;
  height: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .header-container {
    width: 100%;
    height: 100%;
  }
}

.wrapper-header {
  height: 100vh;
  width: 5vw;
  margin: 0;
  background-color: #F2F2F2;
  position: fixed;  
  font-family: SkyhookMonoRegular;
  z-index: 99;
}
  @media (max-width: 768px) {
  .wrapper-header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: transparent;
    opacity: 0;
    transition: all 0.25s ease-in;
  }
}

.fade-in {
  opacity: 1;
}


.header-logoBox {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
@media (max-width: 768px) {
  .header-logoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}

.header-logo {
  width: 60%; 
}
@media (max-width: 768px){
  .header-logo {
    display: none;
  }
}


.header-logo-hover{
  display: none;
}  
@media (max-width: 768px) {
  .header-logo-hover{
    display: block;
    width: 55vw;
  }
}

.menu {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
  @media (max-width: 768px){
    .menu {
      width: 20vw;
      height: 8vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
}

.menu-icon-mobile {
    display: none;
}

@media (max-width: 768px) {
  .menu-icon-mobile {
    display: block;
    width: 26px;
    margin: 20px 30px;
  }
}

.menu-list {
  width: 45vh;
  display: flex;
  justify-content: space-between; 
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }

  .menu-list.--drop-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 60vh;
    height: 40vh;
    width: 100vw;
    transform: rotate(0deg);
    z-index: 99;
    padding: 2rem;
  }
}

.menu-list a {
  text-decoration: none;
  position: relative;
  color: #000;
}

.menu-list a:hover {
  color: #000;
}

.menu-list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  font-size: 1rem;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-item {
  font-size: 1rem;
  color: #000;
  font-family: SkyhookMonoRegular;
  position: relative;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-item {
    display: none;
    margin-right: 25px; 
  }

  .menu-item.--drop-item {
    display: block;
    font-family: SkyhookMonoBold;
    font-size: 1.5rem;
    color: rgb(256,256,256);
  }
}

.item-sobre {
  font-weight: bold;
}

.menu-lang {
  width: 5vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-lang {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
  }

  .menu-lang.--drop-lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    transform: rotate(0deg);
    height: 35vh;
    width: 30vw;
    z-index: 99; 
  }
}

.header-social {
  display: none;
}

@media ( max-width: 768px) {
  .header-social {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
  }

  .header-social.--drop-social {
    display: flex;
    height: 25vh;
    z-index: 99; 
  }
}

.social-icon {
  width: 45px;
}

@media (max-width: 500px) {
  .social-icon {
    width: 25px;
  }
}


/* HOME */
.ecossistema {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
}
  @media (max-width: 768px) {
    .ecossistema {
      height: auto;
      justify-content: flex-start;
    }
  }

.container-eco {
  width: 95%;
  display: flex;
}
  @media (max-width: 768px) {
    .container-eco {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

.wrapper-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 7rem 0 0 4rem;
  z-index: 1;
}
  @media (max-width: 768px) {
    .wrapper-description {
      width: 90%;
      padding: 0;
      align-items: center;
      
    }
  }

.eco-title-desktop {
  margin-bottom: 1.5rem; 
  font-size: 1.625rem;
  color: rgb(0, 0, 0);
  letter-spacing: 0.25rem;
  opacity: 0.7;
  font-family: Introdução, Black Caps;
}
  @media(max-width: 768px) {
    .eco-title-desktop {
      /* width: 281px; */
      display: none;
    }
  }

.eco-title-mobile {
  display: none;
}
  @media(max-width:768px) {
    .eco-title-mobile {
      display: block;
      margin-bottom: 1.5rem; 
      font-size: 1.45rem;
      color: rgb(0, 0, 0);
      letter-spacing: 0.25rem;
      opacity: 0.7;
      font-family: Introdução, Black Caps;
    }
  }

.eco-description {
  width: 50%;
  line-height: 1.625rem;;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
  @media (max-width: 768px) {
    .eco-description {
      width: 275px;
    }
  }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.content canvas {
  width: 50vw;
  height: 40vw;
  position: absolute;;
} 
  @media(max-width: 768px) {
    .content canvas {
      width: 100vw;
      height: 53vh;
  }
} 

figure {
  width: 65%;
  height: 95%;
}

/* Vai na Web */

.container {
  width: 100%;
  /* height: 60vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
  @media(max-width: 768px) {
    .container {
      width: 100%;
      align-items: center;
    }
  }

  .presisaser{
    border: none;
  }
.container-presisaser {
  width: 70%;
  height: 100%;
}
  @media(max-width:768px) {
    .container-presisaser {
      width: 85%;
    }
  }


.container-enterprise {
  width: 60%;
  height: 70vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  border-bottom: solid;
  border-color: #00C8DB;
  border-width: 1px;
}
  @media(max-width:768px) {
    .container-enterprise {
      width: 85%;
    }
  }

.container-enterprise-strytegy {
  width: 60%;
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  border-bottom: solid;
  border-color: #00C8DB;
  border-width: 1px;
}

.enterprise-description {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
}
  @media(max-width: 768px) {
    .enterprise-description {
      width: 100%;
      height: auto;
    }
  }

.box-img {
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
}
  @media(max-width:768px) {
    .box-img {
      width: 50%;
    }
  }

.logo-item {
  width: 90%;
}
  @media(max-width:768px) {
    .logo-item {
      width: 60%;
    }
  }

.logo-vnw {
  width: 70%;
}
  @media(max-width:768px) {
    .logo-vnw{
      width: 40%;
    }
  }

.vnw-description-desktop {
  display: block;
  width: 365px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}
  @media(max-width: 768px) {
    .vnw-description-desktop{
      display: none;
    }
  }

.vnw-description-mobile {
  display: none;
}
  @media(max-width: 768px) {
    .vnw-description-mobile{
      display: block;
      width: 285px;
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }

.enterprise-cantact-desktop {
  width: 45%;
  text-align: right;
}
  @media(max-width:768px) {
    .enterprise-cantact-desktop {
      display: none;
    }
  }

.enterprise-cantact-mobile {
  display: none;
}
  @media(max-width:768px) {
    .enterprise-cantact-mobile {
      display: block;
      width: 100%;
      margin-top: 1rem;
      text-align: right;
    }
  }


.contact-text {
  width: 97%;
  color: #FF0070;
  font-size: 1.12rem;
  text-align: right;
  font-family: SkyhookMonoBold;
}

.social-list{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.social-item {
  width: 13%;
}
@media(max-width:768px) {
  .social-item {
    width: 5%
  }
}

.enterprise-vnw {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
  @media(max-width:768px) {
    .enterprise-vnw {
     width: 100%;
     height: 35%;
    }
  }


.vnw-video {
  width: 100%;
  height: 40vh;
  border: none;
}
.enterprise-strytegy {
  width: 100%;
  height: 54%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.strytegy-img {
  width: 100%;
  height: 100%;
}

.enterprise-precisaser {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.precisaser-img {
  width: 100%;
}

.contact {
  width: 95vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-footer {
  width: 75%;
  height: 100%;
  display: flex;
    align-items: center;

}
.seemore-item {
  font-family: SkyhookMonoRegular;
  font-size: .95rem;
  display: flex;
  align-items: center;
}
.seemore-item span {
  font-family: SkyhookMono;
  font-size: 2rem;
  color: #FF0070;
}