*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
  background-color: #FCFCFC;
}

a {
  text-decoration: none;
}

/*  Menu  */
.header-container {
  width: 6%;
  height: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .header-container {
    width: 100%;
    height: 100%;
  }
}

.wrapper-header {
  height: 100vh;
  width: 5vw;
  margin: 0;
  background-color: #F2F2F2;
  position: fixed;  
  font-family: SkyhookMonoRegular;
  z-index: 99;
}
  @media (max-width: 768px) {
  .wrapper-header {
    width: 100%;
    height: 15vh;
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    opacity: 0;
    transition: all 0.25s ease-in;
  }
}

.fade-in {
  opacity: 1;
}


.header-logoBox {
  height: 17%;
  margin-bottom: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
} 
@media (max-width: 768px) {
  .header-logoBox{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}

.header-logo {
  width: 60%; 
}
@media (max-width: 768px){
  .header-logo {
    display: none;
  }
}


.header-logo-hover{
  display: none;
}  
@media (max-width: 768px) {
  .header-logo-hover{
    display: block;
    width: 55vw;
  }
}

.menu {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
  @media (max-width: 768px){
    .menu {
      width: 20vw;
      height: 8vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
}

.menu-icon-mobile {
    display: none;
}

@media (max-width: 768px) {
  .menu-icon-mobile {
    display: block;
    width: 26px;
    margin: 20px 30px;
  }
}

.menu-list {
  width: 45vh;
  display: flex;
  justify-content: space-between; 
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }

  .menu-list.--drop-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 60vh;
    height: 40vh;
    width: 100vw;
    transform: rotate(0deg);
    z-index: 99;
    padding: 2rem;
  }
}

.menu-list a {
  text-decoration: none;
  position: relative;
  color: #000;
}

.menu-list a:hover {
  color: #000;
}

.menu-list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  font-size: 1rem;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-item {
  font-size: 1rem;
  color: #000;
  font-family: SkyhookMonoRegular;
  position: relative;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-item {
    display: none;
    margin-right: 25px; 
  }

  .menu-item.--drop-item {
    display: block;
    font-family: SkyhookMonoBold;
    font-size: 1.5rem;
    color: rgb(256,256,256);
  }
}

.item-sobre {
  font-weight: bold;
}

.menu-lang {
  width: 5vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-lang {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
  }

  .menu-lang.--drop-lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    transform: rotate(0deg);
    height: 35vh;
    width: 30vw;
    z-index: 99; 
  }
}

.header-social {
  display: none;
}

@media ( max-width: 768px) {
  .header-social {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
  }

  .header-social.--drop-social {
    display: flex;
    height: 25vh;
    z-index: 99; 
  }
}

.social-icon {
  width: 45px;
}

@media (max-width: 500px) {
  .social-icon {
    width: 25px;
  }
}

/* HOME */
.ecossistema {
  width: 100%;
  height: 87vh;
  display: flex;
  justify-content: flex-end;
}
  @media (max-width: 768px) {
    .ecossistema {
      width: 100vw;
      height: 100vh;
      margin-top: 1rem;
      justify-content: flex-start;
    }
  }

.container-eco {
  width: 90%;
  display: flex;
  align-items: center;
}
  @media (max-width: 768px) {
    .container-eco {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

.wrapper-description {
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
  @media (max-width: 768px) {
    .wrapper-description {
      width: 90%;
      height: 45%;
      padding: 0;      
    }
  }

.eco-title-desktop {
  margin-bottom: 1.18rem; 
  font-size: 1.625rem;
  color: rgb(0, 0, 0);
  letter-spacing: 0.25rem;
  opacity: 0.7;
  font-family: Introdução, Black Caps;
}
  @media(max-width: 768px) {
    .eco-title-desktop {
      /* width: 281px; */
      display: none;
    }
  }

.eco-title-mobile {
  display: none;
}
  @media(max-width:768px) {
    .eco-title-mobile {
      width: auto;
      display: block;
      margin-bottom: 1.5rem; 
      font-size: 1.45rem;
      color: rgb(0, 0, 0);
      letter-spacing: 0.25rem;
      opacity: 0.7;
      font-family: Introdução, Black Caps;
    }
  }

.eco-description {
  width: 350px;
  line-height: 1.625rem;;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
  @media (max-width: 768px) {
    .eco-description {
      width: 85% !important;
      font-weight: 400;
    }
  }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 50vw;
}
  @media(max-width:768px) {
    .content {
      min-height: 50vh;
    }
  }

.content canvas {
  width: 54vw !important;
  height: 44vw !important;
  position: absolute;
} 
  @media(max-width: 768px) {
    .content canvas {
      width: 80vw !important;
      height: 60vh !important;
  }
} 

figure {
  width: 65%;
  height: 95%;
}

/* Vai na Web */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
  @media(max-width: 768px) {
    .container {
      width: 100%;
      align-items: center;
    }
  }

  .presisaser{
    border: none;
  }
.container-presisaser {
  width: 60%;
  height: auto;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-evenly; */
  flex-direction: column;
}
  @media(max-width:768px) {
    .container-presisaser {
      width: 85%;
      height: auto;
      padding-top: 2rem;
    }
  }


.container-enterprise {
  width: 60%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  /* border-bottom: solid;
  border-color: #00C8DB;
  border-width: 1px; */
}
  @media(max-width:768px) {
    .container-enterprise {
      width: 85%;
      z-index: 2;
    }
  }

.container-enterprise-strytegy {
  width: 60%;
  height: auto;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-evenly; */
  flex-direction: column;
}

@media(max-width:768px) {
  .container-enterprise-strytegy {
    width: 85%;
    height: auto;
    padding-top: 2rem;
  }
}

.enterprise-description {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
  @media(max-width: 768px) {
    .enterprise-description {
      width: 100%;
      height: auto;
    }
  }

.box-img {
  width: auto;
  height: 20%;
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
}


.box-logo-strytegy {
  width: auto;
  height: 20%;
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
}

.logo-strytegy {
  width: 65%;
}

.box-logo-precisaser {
  width: auto;
  height: 20%;
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  position: relative;
  left: -18px;

}

.box-img-precisaser {
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
}
 @media(max-width:768px) {
    .box-img-precisaser {
      padding: 0;
    }
  }

.logo-precisaser {
  width: 65%;
  padding-top: 2.5rem;
}
  /* @media(max-width:768px) {
    .box-logo-precisaser {
      width: 50%;
    }
  } */

.logo-item {
  width: 100%;
}
  @media(max-width:768px) {
    .logo-item {
      width: 60%;
    }
  }

.logo-vnw {
  width: 70%;
}
  @media(max-width:768px) {
    .logo-vnw{
      width: 40%;
    }
  }

.vnw-description-desktop {
  display: block;
  width: 365px;
  font-size: 1rem;
  line-height: 1.62rem;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2rem 0;
  font-weight: 400;
}
  @media(max-width: 768px) {
    .vnw-description-desktop{
      display: none;
    }
  }

.vnw-description-mobile {
  display: none;
}
  @media(max-width: 768px) {
    .vnw-description-mobile{
      display: block;
      width: 285px;
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }

.enterprise-cantact-desktop {
  width: 45%;
  text-align: right;
}
.enterprise-social-desktop {
  padding: 2rem 0;
}
  @media(max-width:768px) {
    .enterprise-social-desktop {
      display: none;
    }
  }

.enterprise-social-mobile {
  display: none;
}
  @media(max-width:768px) {
    .enterprise-social-mobile {
      display: block;
      width: 100%;
      margin-top: 1rem;
      text-align: right;
      border-bottom: solid;
      border-color: #00C8DB;
      border-width: .05rem;
    }
  }

.precisaser-cantact-desktop {
  width: 45%;
  text-align: right;
}
.precisaser-social-desktop {
  padding: 2rem 0;
}
  @media(max-width:768px) {
    .precisaser-social-desktop {
      display: none;
    }
  } 
  
.precisaser-social-mobile {
  display: none;
}
  @media(max-width:768px) {
    .precisaser-social-mobile {
      display: block;
      width: 100%;
      margin-top: 1rem;
      text-align: right;
     
    }
    }
  

.contact-text {
  width: 97%;
  color: #FF0070;
  font-size: 1.12rem;
  text-align: right;
  font-family: SkyhookMonoBold;
}

.social-list{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.social-item {
  width: 17%;
}
@media(max-width:768px) {
  .social-item {
    width: 8%;
  }
}
@media(max-width:425px) {
  .social-item {
    width: 13%;
  }
}

.social-itemTT {
  width: 10%;
  padding-top: .4rem;
}
@media(max-width:768px) {
  .social-itemTT {
    width: 5%;
    padding-top: .5rem;
  }
}
@media(max-width:425px) {
  .social-itemTT {
    width: 9%;
  }
}



.enterprise-vnw {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: solid;
  border-color: #00C8DB;
  border-width: .05rem;
}
  @media(max-width:768px) {
    .enterprise-vnw {
     width: 100%;
     height: auto;
     border: none;
    }
  }


.box-img-vainaweb {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}
  @media(max-width:768px) {
    .box-img-vainaweb {
   padding: 0;
    }
  }


.vnw-video {
  width: 100%;
  border: none;
}
.enterprise-strytegy {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: solid;
  border-color: #00C8DB;
  border-width: .05rem;
  padding-bottom: 2rem;
}
  @media(max-width:768px) {
    .enterprise-strytegy {
      height: auto;
      border: none;
    }
  }

.box-img-strytegy {
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
}
@media(max-width:768px) {
  .box-img-strytegy {
    padding: 0;
  }
}

.strytegy-img {
  width: 100%;
  height: auto;
}
@media(max-width:768px) {
  .strytegy-img {
    height: auto;
  }
}

.enterprise-precisaser {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: solid;
  border-color: #00C8DB;
  border-width: .05rem;
  padding-bottom: 2rem;
}

@media(max-width:768px) {
  .enterprise-precisaser {
    display: block;
    border: none;
  }
}

.precisaser-img {
  width: 100%;
  height: auto;
}

/*  Deep Talsk */

.container-deeptalsk {
  width: 60%;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-evenly; */
  flex-direction: column;
}

  @media(max-width:768px) {
    .container-deeptalsk {
      width: 85%;
      height: auto;
      padding-top: 2rem;
    }
  }

.article-box-animate {
  width: 100% !important;
}

.box-believe-last {
  width: 100%;
  margin-top: 4rem;
}

.believe-img {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column
}
  @media (max-width: 768px) {
    .believe-img {
      width: auto;
    }

    .believe-img  img{
      width: 100%;
      height: auto;
    }
  }

figcaption {
  margin-top: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-weight: lighter;
}
  @media (max-width: 769px) {
    figcaption {
      width: 100%;
    }
  }

.box-title {
  padding-top: 2.5rem;
  width: 705px;
  font-size: 2.40rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: underline;
  cursor: default;
}
  @media (max-width: 768px) {
    .box-title {
      width: 281px;
    }
  }

.box-description {
  width: 42%;
  margin-top: 1rem;
  line-height: 1.65rem;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

  @media (max-width: 768px) {
    .box-description {
      width: 285px;
    }
  }

  .enterprise-deeptech {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .img-deeptech {
    width: 100%;
  }

  .deeptech-description {
    padding-top: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
  }

/* Footer */

.contact {
  width: 95vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-footer {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

  @media(max-width: 768px) {
    .container-footer{
      width: 95%;
    }
  }

.seemore-item {
  font-family: SkyhookMonoRegular;
  font-size: .95rem;
  display: flex;
  align-items: center;
}

.seemore-item span {
  display: inline-flex;
}
.seemore-item span img{
  transform: rotate(180deg);
  margin-right: .75rem;
}