
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
  background-color: #fcfcfc;
}

.container {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

/*  Menu  */
.header-container {
  width: 6%;
  height: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .header-container {
    width: 100%;
    height: 100%;
  }
}

.wrapper-header {
  height: 100vh;
  width: 5vw;
  background-color: #F2F2F2;
  margin: 0;
  position: fixed;  
  font-family: SkyhookMonoRegular;
  z-index: 99;
}
  @media (max-width: 768px) {
  .wrapper-header {
    width: 100%;
    height: 8vh;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0;
    transition: all 0.25s ease-in;
  }
}

.fade-in {
  opacity: 1;
}


.header-logoBox {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
@media (max-width: 768px) {
  .header-logoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}

.header-logo {
  width: 60%; 
}
@media (max-width: 768px){
  .header-logo {
    display: none;
  }
}


.header-logo-hover{
  display: none;
}  
@media (max-width: 768px) {
  .header-logo-hover{
    display: block;
    width: 55vw;
  }
}

.menu {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
  @media (max-width: 768px){
    .menu {
      width: 20vw;
      height: 8vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
}

.menu-icon-mobile {
    display: none;
}

@media (max-width: 768px) {
  .menu-icon-mobile {
    display: block;
    width: 26px;
    margin: 20px 30px;
  }
}

.menu-list {
  width: 45vh;
  display: flex;
  justify-content: space-between; 
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }

  .menu-list.--drop-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 60vh;
    height: 40vh;
    width: 100vw;
    transform: rotate(0deg);
    z-index: 99;
    padding: 2rem;
  }
}

.menu-list a {
  text-decoration: none;
  position: relative;
  color: #000;
}

.menu-list a:hover {
  color: #000;
}

.menu-list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  font-size: 1rem;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.menu-item {
  font-size: 1rem;
  color: #000;
  font-family: SkyhookMonoRegular;
  position: relative;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-item {
    display: none;
    margin-right: 25px; 
  }

  .menu-item.--drop-item {
    display: block;
    font-family: SkyhookMonoBold;
    font-size: 1.5rem;
    color: rgb(256,256,256);
  }
}

.menu-lang {
  width: 5vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-lang .--drop-menu {
    display: flex;
    height: 25vh;
    z-index: 99;
    transform: rotate(0deg);
  }
  .menu-lang  {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
    height: 10vh;
    transform: rotate(0deg);
    z-index: 99;
  }
}

.header-social {
  display: none;
}

@media ( max-width: 768px) {
  .header-social {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
  }

  .header-social.--drop-social {
    display: flex;
    height: 25vh;
    z-index: 99; 
  }
}

.social-icon {
  width: 45px;
}

@media (max-width: 500px) {
  .social-icon {
    width: 25px;
  }
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 100%;
}

  @media (max-width: 768px) {
    main .container {
      width: 100%;
      height: auto;
    }
  }

/* Time */
.container{
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 100vh;
}
@media (max-width: 768px) {
  .time {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.container-span {
  width: 80vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 99;
}
  @media (max-width: 768px) {
    .container-span {
      width: 90%;
    }
  }

.time-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .time-box {
    width: 100%;
    height: 100%;
  }
}

.container-title-time {
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.625rem;
  color: rgb(0, 0, 0);
  letter-spacing: 0.25rem;
  opacity: 0.7;
  font-family: Introdução, Black Caps;
}

.container-description-time {
  width: 330px;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
@media (max-width: 768px) {
  .container-description-time {
    width: 291px;
  }  
}


/* Believe */
.believe{
  width: 100vw;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
}

.believe-description {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 4rem 0 0 0;
}
@media (max-width: 768px) {
  .believe-description {
    width: 100%;
    margin: 0;
    text-align: center;    
  }
}

.believe-title {
  width: 100%;
  margin-bottom: 1.5rem; 
  font-size: 1.625rem;
  color: rgb(0, 0, 0);
  letter-spacing: 0.25rem;
  opacity: 0.7;
  font-family: Introdução, Black Caps;
}

.wrapper-believe {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
  @media (max-width: 768px) {
    .wrapper-believe {
      width: 80%;
    }  
  }

.box-believe {
  width: 100%;
  border-bottom: solid;
  border-color: blue;
  border-width: 1px;
  margin-top: 4rem;
  padding-bottom: 2rem;
}
.box-believe-last {
  width: 100%;
  margin-top: 4rem;
}

.believe-img {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column
}
  @media (max-width: 768px) {
    .believe-img {
      width: auto;
    }

    .believe-img  img{
      width: 100%;
      height: auto;
    }
  }

figcaption {
  margin-top: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-weight: lighter;
}
  @media (max-width: 769px) {
    figcaption {
      width: 50%;
    }
  }

.box-title {
  width: 705px;
  font-size: 2.40rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: underline;
  cursor: default;
}
  @media (max-width: 768px) {
    .box-title {
      width: 281px;
    }
  }

.box-description {
  width: 42%;
  margin-top: 1rem;
  line-height: 1.65rem;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

  @media (max-width: 768px) {
    .box-description {
      width: 285px;
    }
  }


/* approach */
.approach {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .approach {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    }
  }

.approach-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .approach-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.approach-wrapper {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.approach-info {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .approach-wrapper {
      height: 100%;
  }

  .approach-info {
      margin-top: 45px;
  }
}

.box-info{
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 80vw;
  height: 60vh;

}

@media (max-width: 768px) {
  .box-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

.approach-content {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100vw;
}

@media (max-width: 768px) {
  .approach-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }
}

.container-title-approach {
  width: 100%;
  font-size: 1.65rem;
  color: #000;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
}

.approach-title {
  font-family:  SkyhookMonoRegular;
  font-size: 3.15rem;
  display: flex;
  margin-top: 15px;
}
.approach-span {
  color: #767676;
  font-size: 1rem;
}

.approach-imgLead {
  width: 175px;
  display:inline-block;
  border:0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1); 
}

.approach-imgLead:hover {
  z-index: 2;
  -webkit-transition: all 300ms ease-in;
  -webkit-transform: scale(1.5) v;
  -ms-transition: all 300ms ease-in;
  -ms-transform: scale(1.5) rotate(-360deg);   
  -moz-transition: all 300ms ease-in;
  -moz-transform: scale(1.5) rotate(-360deg);
  transition: all 300ms ease-in;
  transform: scale(1.2) rotate(-360deg);
}
.approach-imgLearn {
  width: 50%;
}

.approach-imgLearn:hover {
  z-index: 2;
  -webkit-transition: all 300ms ease-in;
  -webkit-transform: scale(1.5) v;
  -ms-transition: all 300ms ease-in;
  -ms-transform: scale(1.5) rotate(180deg);   
  -moz-transition: all 300ms ease-in;
  -moz-transform: scale(1.5) rotate(180deg);
  transition: all 300ms ease-in;
  transform: scale(1.2) rotate(180deg);
}

.approach-imgScale {
  width: 40%;
  display:inline-block;
  border:0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1); 
}
.approach-imgScale:hover {
  z-index: 2;
  -webkit-transition: all 300ms ease-in;
  -webkit-transform: scale(1.1) v;
  -ms-transition: all 300ms ease-in;
  -ms-transform: scale(1.1) ;   
  -moz-transition: all 300ms ease-in;
  -moz-transform: scale(1.1) ;
  transition: all 300ms ease-in;
  transform: scale(1.1) ;
}
@media (max-width: 768px) {
  .approach-img {
    width: 155px;
    height: 155px;
  }
}

.approach-item {
  list-style: none;
  font-size: 1rem;
  padding-top: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.65rem;
  width: 310px;
}


/*  Contact  */

.contact {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/*.contact canvas {
  width: 100vw;
  height: 100vh;
}
*/
/*.contact::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 221, 0);
  opacity: 0.8;
}*/

.contact .container {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../img/contato-ruido.gif");
}

.contact-span {
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: flex-end
}
.span-title {
  font-size: 1.625rem;
  color: rgb(0, 0, 0);
  letter-spacing: 0.25rem;
  opacity: 0.7;
  font-family: Introdução, "Black Caps";
}

.contact-box {
  position: relative;
  width: 50%;
  height: 70%;
}

@media (max-width: 768px) {
  .contact .container {
    height: 100vh;
    width: 100vw;
  }

  .contact-description {
    width: 280px;
  }
}

@media (max-width: 425px) {
  .contact-box {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center
  }
}

.contact-description-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.125rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 10px 0px 0px 4px #000, -10px 0px 0px 4px #000;
  background: #000;
  display: inline;
}

.contact-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
  @media (max-width: 768px) {
    .contact-address {
      width: 280px;
    }
  }

.contact-address-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 14px 0px 0px 0px #000, -14px 0px 0px 0px #000;
  background: #000;
  display: inline;
  margin: 5px 0;
}

@media (max-width: 425px) {
  .contact-description-text {
    font-size: 1.75rem;
    line-height: 46px;
  }

  .contact-address-text {
    font-size: 1.125rem;
    line-height: 34px;
  }

}

.contact-social {
  height: 15%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@media (max-width: 768px) {
  .contact-social{
    justify-content: space-between;
    flex-flow: row wrap;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
    .contact-social{
    width: 300px;
    margin-bottom: 0;
    }
}

.contact-social a {
  color: black;
  margin-right: 30px;
}

.contact-social-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  display: inline;
}

.contact-development {
  font-family: SkyhookMonoBold;
  font-size: .75rem;
  box-shadow: 10px 0 0 0 white, -10px 0 0 0 white;
  background-color: white;
  padding: 5px 0;
}

.contact-development a {
  margin: 0;
}

@media (max-width: 768px) {
  .contact-development {
    margin: 20px auto 0 0;
  }
}

@media (max-width: 768px) {
  .contact-development {
    font-family: SkyhookMonoBold;
    font-size: .75rem;
    box-shadow: 6px 0 0 0 white, -6px 0 0 0 white;
    background-color: white;
    padding: 5px 0;
  }
}

.contact-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
}

.form-label {
  width: 70%;
  height: 50%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  color: #000
}

.form-input {
  width: 45%;
  height: 60%;
  border-style: none;
}

button {
  width: 5%;
  height: 20%;
  border-radius: 50%;
  background-color: #FF0070;
  border: none;
  position: relative;
  right: 4.75rem;
  bottom: 0.95rem;
}
