
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
  background-color: #F8F8F8;
}

.container {
  width: 90vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.container-time {
  width: 90%;
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 9;
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }

  .container-time {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 99;
  }
}

.container-title {
  width: 100%;
  font-size: 1.65rem;
  color: #000;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
}

.container-description {
  width: 50vw;
  font-family: SkyhookMonoBold;
  font-size: .95rem;
}@media(max-width: 768px) {
  .container-description {
    width: 90vw;
  }
}

/*  Menu  */
.header-container {
  width: 6%;
  height: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .header-container {
    width: 100%;
    height: 100%;
  }
}

.wrapper-header {
  height: 100vh;
  width: 5vw;
  margin: 0;
  background-color: #F2F2F2;
  position: fixed;  
  font-family: SkyhookMonoRegular;
  z-index: 99;
}
  @media (max-width: 768px) {
  .wrapper-header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: transparent;
    opacity: 0;
    transition: all 0.25s ease-in;
  }
}

.fade-in {
  opacity: 1;
}


.header-logoBox {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
@media (max-width: 768px) {
  .header-logoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}

.header-logo {
  width: 60%; 
}
@media (max-width: 768px){
  .header-logo {
    display: none;
  }
}


.header-logo-hover{
  display: none;
}  
@media (max-width: 768px) {
  .header-logo-hover{
    display: block;
    width: 55vw;
  }
}

.menu {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
  @media (max-width: 768px){
    .menu {
      width: 20vw;
      height: 8vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
}

.menu-icon-mobile {
    display: none;
}

@media (max-width: 768px) {
  .menu-icon-mobile {
    display: block;
    width: 26px;
    margin: 20px 30px;
  }
}

.menu-list {
  width: 45vh;
  display: flex;
  justify-content: space-between; 
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }

  .menu-list.--drop-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 60vh;
    height: 40vh;
    width: 100vw;
    transform: rotate(0deg);
    z-index: 99;
    padding: 2rem;
  }
}

.menu-list a {
  text-decoration: none;
  position: relative;
  color: #000;
}

.menu-list a:hover {
  color: #000;
}

.menu-list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  font-size: 1rem;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-item {
  font-size: 1rem;
  color: #000;
  font-family: SkyhookMonoRegular;
  position: relative;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-item {
    display: none;
    margin-right: 25px; 
  }

  .menu-item.--drop-item {
    display: block;
    font-family: SkyhookMonoBold;
    font-size: 1.5rem;
    color: rgb(256,256,256);
  }
}

.item-sobre {
  font-weight: bold;
}

.menu-lang {
  width: 5vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-lang {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
  }

  .menu-lang.--drop-lang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    transform: rotate(0deg);
    height: 35vh;
    width: 30vw;
    z-index: 99; 
  }
}

.header-social {
  display: none;
}

@media ( max-width: 768px) {
  .header-social {
    right: 25px;
    display: none;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 63vh;
  }

  .header-social.--drop-social {
    display: flex;
    height: 25vh;
    z-index: 99; 
  }
}

.social-icon {
  width: 45px;
}

@media (max-width: 500px) {
  .social-icon {
    width: 25px;
  }
}

/*  Home  */
.home {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  max-width: 100vw;
}

@media (max-width: 768px) {
  .home {
    background-position: initial;
    flex-direction: column;
  }
}

.home-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  width: 50vw;
  min-height: 100vh;
  position: relative;
}
  
@media (max-width: 768px) {
  .home-column {
    flex-direction: column;
    width: 100vw;
    min-height: 60vh;
    position: initial;
    z-index: 2;
  }
}

.home-center {
  position: absolute;
  height: 100vh;
  width: 100vw;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .home-center {
    top: 0;
    height: 80vh;
    padding-top: 17vh;
  }
}

.home-img {
  width: 420px;
  transform: rotate(-5deg);
  position: absolute;
}

@media (max-width: 768px) {
  .home-img {
    width: 275px;
  }
}

.home-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 100%;
}

@media (max-width: 768px) {
  .home-description {
    width: 232px;
    align-items: flex-start;
  }
}

.home-title {
  font-family: Introdução, sans-serif;
  font-size: 7.9375rem;
  color: rgb(255, 0, 112);
  text-align: left;
  margin-top: 1.15rem;
}

.home-titleIntro {
  font-family: Introdução, sans-serif;
  font-size: 2.12rem;
  color: rgba(116, 38, 152, 1);
  text-align: left;
  margin: 0;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 4rem;
  }

  .home-titleIntro {
    font-size: 1.35rem;
  }
}

.home-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .home-text {
    font-size: 1rem;
  }
}

.home-span {
  position: absolute;
  animation: mymove 1s infinite;
  z-index: 1;
  bottom: 40px;
  left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  color: black;
}

@media (max-width: 768px) {
  .home-span {
    display: none;
  }
}

@keyframes mymove {
  0% {bottom: 30px;}
  50% {bottom: 40px}
  100% {bottom: 30px;}
}

/*  hello  */
.hello {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hello  .container {
  flex-direction: column;
  position: relative;
  padding-top: 60px;
}
@media (max-width: 768px) {
  .hello  .container {
    padding: 0;
  }
}

.container-spanHello  {
  width: 80vw;
  display: flex;
  align-items: flex-end;
}

.span-title {
  font-size: 1.625rem;
  color: rgb(0, 0, 0);
  letter-spacing: 0.25rem;
  opacity: 0.7;
  font-family: Introdução, "Black Caps";
}
.wrapper-hello {
  width: 90%;
  display: flex;
  flex-direction: column;
}

  @media (max-width: 768px) {
    .wrapper-hello {
      align-content: center;
    }
  }

.hello-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
@media (max-width: 768px) {
  .hello-intro {
    width: 100%;
  }
}

.hello-intro canvas {
  width: 50vw;
  height: 40vw;
  position: relative;

}

@media (max-width: 768px) {
  .hello-intro {
    min-height: 50vh
  }
  .hello-intro #scene {
    width: 75vw;
    height: 50vh;
  }
}

.hello-title {
  font-family: Introdução, sans-serif;
  font-size: 4.375rem;
  text-align: center;
  width: 35%;
  position: absolute;
  margin: auto;
}

@media (max-width: 768px) {
  .hello-title {
    font-size: 2.07rem;
    width: 35%;
    min-width: 235px;
  }
}

.hello-description {
  align-self: flex-end;
  width: 55%;
}

@media (max-width: 768px) {
  .hello-description {
    width: 100%;
    align-self: center;        
  }
}

.hello-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  line-height: 1.85rem;
  font-weight: 600;
  width: 50%;
  margin-bottom: 2rem; 
}

@media (max-width: 768px) {
  .hello-text {
    font-size: 1.06rem;
    width: 100%;
  }
}

.box-seemore {
  width: 90%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
  @media (max-width: 768px) {
    .box-seemore {
      width: 100%;
      height: 60vh;
    }
  }

.seemore-item {
  font-family: SkyhookMonoRegular;
  font-size: .95rem;
  display: flex;
  align-items: center;
}
.seemore-item span {
  font-family: SkyhookMono;
  font-size: 2rem;
  color: #FF0070;
}

/*  interesse   */
 .interesse {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 200, 219, 0.06);
}

.container-span {
  width: 80vw;
  height: 10vh;
  display: flex;
}

.wrapper-boxs {
  display: flex;
  flex-direction: column;
}

.interesse .container {
  flex-direction: column;
  position: relative;
  padding-top: 60px;  
}

@media ( max-width: 768px) {
  .interesse .container{
    padding-bottom: 0
  }
}

.interesse-span {
  font-family: SkyhookMonoRegular, monospace;
  font-size: 1rem;
  position: absolute;
  top: 40px;
  left: 40px;
}

.interesse-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  line-height: 32px;
  align-self: center;
  width: 92%;
  font-weight: 600;
  margin: 55px 0px 75px 0px;
}

.interesse-box {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-bottom: 50px;
  position: relative;
}

@media (max-width: 768px) {
  .interesse-box {
    flex-direction: column;
    margin-bottom: 0;
  }

  .box2{
    display: none;
    margin-top: 0
  }

  .interesse-title {
    margin-bottom: 50px
  }
}

.interesse-item {
  width: 22vw;
  height: 60vh;
  overflow: hidden;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

@media (max-width: 768px) {
  .interesse-item {
    width: 80vw;
    height: 100%;
    margin: 20px 0;
  }
}

.interesse-img {
  width: 95%;
  transition: transform .5s;
  box-sizing: border-box; 
}

.interesse-img:hover {
  transform: scale(1.1);
}

.interesse-text {
  width: 70%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.56rem;
  line-height: 2.65rem;
  margin-bottom: .18rem;
  text-decoration: underline;
  font-weight: 600;
}
  @media(max-width:768px) {
    .interesse-text {
      width: auto;
    }
  }

.interesse-hashtags {
  height: 10%;
  display: flex;
  align-items: center;
  font-family: SkyhookMonoBold;
  font-size: .85rem;
  color: rgba(0, 200, 219, 1);
}

.interesse-show {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  position: absolute;
  bottom: 7vh;
  width: 75%;
  display: flex;
  justify-content: center;
  border-top: solid 1px;
  padding-top: 19px;
}

.down {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-size:cover;
  z-index:1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.modal-case1 {background-image: url('../img/Interesses-05.jpg')}
.modal-case2 {background-image: url('../img/Interesses-04.jpg')} 
.modal-case3 {background-image: url('../img/Interesses-02.jpg')} 
.modal-case4 {background-image: url('../img/Interesses-03.jpg')} 
.modal-case5 {background-image: url('../img/Interesses-06.jpg')}
.modal-case6 {background-image: url('../img/Interesses-01.jpg')}

.modal-show {
  display: block;
}

.modal-content {
  display: none;
  z-index:2;
  position:fixed;
  top: 40vh;
  left: 30%;
  margin: auto;
  padding: 10px 20px;
  background-color: rgba(256, 256, 256, .6);
  width: 40%;
  min-width: 300px;
}

.modal-content p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.close {
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* Inspiration */
.inspiration {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
  @media (max-width: 768px) {
    .inspiration {
      height: auto;
    }
  }

.container-spanInspiration {
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: flex-end;
}
  @media (max-width:768px) {
    .container-spanInspiration {
      height: 25vh;
      align-items: center;
    }
  }

.container-inspiration {
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  @media (max-width: 768px) {
    .container-inspiration {
      height: auto;
    }
  }

.inspiration-description {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .inspiration-description {
    align-items: center;
  }
}

.inspiration-text {
  width: 100%;
  font-size: 2.12rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 3.18rem;
  font-weight: 900;
  }
  @media (max-width: 768px) {
    .inspiration-text {
      width: 75%;
      font-size: 1.68rem;
    }
  }
  
  .inspiration-text span {
    background-color: #ffdd00;
  }

.seemore-inspiration {
  margin-top: 1.25rem;
  height: 11vh;
  display: flex;
  justify-content: space-between;
}
  @media (max-width: 768px) {
    .seemore-inspiration {
      width: 85vw;
      height: 30vh;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
    }
  }

.seemore-desciption {
  font-size: 2.12rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 3.18rem;
}
  @media (max-width: 768px) {
    .seemore-desciption {
      font-size: 1.68rem;
    }
  }
  
.seemore-desciption span {
  background-color: #ffdd00;
}

.seemore-text {
  font-family: SkyhookMonoRegular;
  color: #767676;
  font-size: 1rem;
}
  @media (max-width: 768px) {
    .seemore-text {
      width: 90%;
    }
  }

.seemore-text span {
  font-weight: 900;
}


/* interesse */
.case {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.case-container {
  width: 100vw;
  height: 100vh;
 
}
@media (max-width: 768px) {
  .case-container {
    display: flex;
    justify-content: flex-end;
  }
}

.case-container.k360 {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url("../img/Case-Capa-K360@2x.jpg");
  background-size: cover;
  background-position: center;
}

.case-container.startupin {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-Mypolis@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-container.robo {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-Robo@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-container.furnas {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-Furnas@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-container.vainaweb {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-VnW@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-content {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.case-wrapper {
  background-color: #f8f8f8;
  width: 100%;
  height: 40%;
  display: flex;
  padding: 2.5rem;
}

@media (max-width: 425px) {
  .case-wrapper {
    padding: 1.5rem
  }
}


.case-info{
  width: 33%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .case-info {
    width: 40vw;
  }
}

@media (max-width: 425px) {
  .case-info {
    width: 75vw;
  }
}

.container-title-case {
  font-size: 1.65rem;
  color: #fff;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
}
@media (max-width: 768px) {
  .container-description-case {
    width: 30vw;
  }
}

.container-description-case {
  font-size: 0.95rem;
  font-family: SkyhookMonoRegular;
  margin-top: 5px;  
  color: #fff;
}

.case-description { 
  font-size: 2rem;
  color: #fff;
  font-family: Introdução, Black Caps;
  font-weight: 900;
  display: none;
}

.case-description.-show {
  display: block;
}

.more-case {
  color: #ffdd00;
  font-family: SkyhookMonoRegular;
  font-size: 1rem;
  padding: 20px 0 0 20px;
  cursor: pointer;
}

.more-case-seta {
  color: #ffdd00;
  font-family: SkyhookMonoRegular;
  font-size: 1.5rem;
  padding-left: 20px;
}

@media(max-width: 768px) { 
  .span-case{
    display: none;
  }
}

.span-caseDescription{
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
  width: 55%;
  margin-top: 13px;
  display: none;
}
@media( max-width: 1024px) {
  .span-caseDescription{
    display: none;
    width: 30vw;
  }
}

.span-caseDescription.-show{
  display: block;
}

.case-itemNumber{
  margin-right: 3rem;
  font-size: .85rem;
  font-family: SkyhookMonoRegular;
}

.case-item {
  margin-left: 3rem;
  font-size: 1.15rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 18px 5px  0 0;
  color: #000;
  cursor: pointer;
}

.case-item, a{
   text-decoration: none;
}

.case-item--is-selected {
  font-weight: 900;
}

.case-list {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}
@media( max-width: 1024px) {
  .case-list{
    width: 100vw;
  }
}
/* Time */
.time{
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .time {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.time-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .time-box {
    width: 100%;
    height: 100%;
  }
}

.container-title-time {
  width: 100%;
  font-size: 1.65rem;
  color: #000;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
  margin-top: 50px;
}

.container-description-time {
  width: 28%;
  font-family: SkyhookMonoBold;
  font-size: .95rem;
  line-height: 1.25rem;
}
@media (max-width: 768px) {
  .container-description-time {
    width: 85vw;
  }  
}

/*  Contact  */

.contact {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.contact .container {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 100vh;
  background-image: url("../img/contato-ruido.gif");
}

.contact-span {
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: flex-end
}

.contact-box {
  position: relative;
  width: 50%;
  height: 70%;
}

@media (max-width: 768px) {
  .contact .container {
    height: 100vh;
    width: 100vw;
  }

  .contact-description {
    width: 280px;
  }
}

@media (max-width: 425px) {
  .contact-box {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center
  }
}

.contact-description-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.125rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 10px 0px 0px 4px #000, -10px 0px 0px 4px #000;
  background: #000;
  display: inline;
}

.contact-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
  @media (max-width: 768px) {
    .contact-address {
      width: 280px;
    }
  }

.contact-address-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 14px 0px 0px 0px #000, -14px 0px 0px 0px #000;
  background: #000;
  display: inline;
  margin: 5px 0;
}

@media (max-width: 425px) {
  .contact-description-text {
    font-size: 1.75rem;
    line-height: 46px;
  }

  .contact-address-text {
    font-size: 1.125rem;
    line-height: 34px;
  }

}

.contact-social {
  height: 15%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@media (max-width: 768px) {
  .contact-social{
    justify-content: space-between;
    flex-flow: row wrap;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
    .contact-social{
    width: 300px;
    margin-bottom: 0;
    }
}

.contact-social a {
  color: black;
  margin-right: 30px;
}

.contact-social-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  display: inline;
}

.contact-development {
  font-family: SkyhookMonoBold;
  font-size: .75rem;
  box-shadow: 10px 0 0 0 white, -10px 0 0 0 white;
  background-color: white;
  padding: 5px 0;
}

.contact-development a {
  margin: 0;
}

@media (max-width: 768px) {
  .contact-development {
    margin: 20px auto 0 0;
  }
}

@media (max-width: 768px) {
  .contact-development {
    font-family: SkyhookMonoBold;
    font-size: .75rem;
    box-shadow: 6px 0 0 0 white, -6px 0 0 0 white;
    background-color: white;
    padding: 5px 0;
  }
}

.contact-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
}
  @media (max-width: 768px) {
    .contact-form {
      flex-direction: column;
      align-items: flex-start;
    }
  }

.form-label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  color: #000
}

.form-input {
  width: 75%;
  height: 25%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  color: #000;
  padding: 1rem;
  border: none;
}

button {
  width: 1.87rem;
  height: 1.87rem;
  border-radius: 50%;
  background-color: #FF0070;
  border: none;
  position: relative;
  right: 1rem;
}

/* Animação */
 
[data-anime] {
  opacity: 0;
  transition: .9s;
}
 
[data-anime="left"] {
  transform: translate3d(-650px, 0, 0);
}
 
[data-anime="right"] {
  transform: translate3d(500px, 0, 0);
}
 
[data-anime="bottom"] {
  transform: translate3d(0, 400px, 0);
}
 
[data-anime].animate {
  opacity: 1; 
  transform: translate3d(0px, 0px, 0px);
} 

/*.wrapper-topic {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}

.wrapper-topic {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
*/
/*=== FADE IN LEFT ===*/
/*@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.wrapper-topic {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
*/