
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
  background-color: #F8F8F8;
}

.container {
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 99;
}

.container-time {
  width: 90%;
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    height: 15%;
  }

  .container-time {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 99;
  }
}

.container-title {
  width: 100%;
  font-size: 1.65rem;
  color: #000;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
}

.container-description {
  width: 50vw;
  font-family: SkyhookMonoBold;
  font-size: .95rem;
}@media(max-width: 768px) {
  .container-description {
    width: 90vw;
  }
  
}

/*  Menu  */
@media (max-width: 768px) {
.header-container {
 width: 100%;
 height: 100%;
 position: relative;
  }
}

.wrapper-header {
  height: 100vh;
  background-color: #F2F2F2;
   margin: 0;
  position: fixed;
  width: 6vw;
  font-family: SkyhookMonoRegular;
}
  @media (max-width: 768px) {
  .wrapper-header {
    width: 100%;
    height: 8vh;
    background-color: #F2F2F2;
    position: relative;
    display: flex;
    align-items: center;
  }
}


.header-logoBox {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
} 
@media (max-width: 768px) {
  .header-logoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.header-logo {
  width: 60%; 
}
@media (max-width: 768px){
  .header-logo {
    display: none;
  }
}


.header-logo-hover{
  display: none;
}  
@media (max-width: 768px) {
  .header-logo-hover{
    width: 100%;
  }
}

.header-social {
  display: none;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
  @media (max-width: 768px){
    .menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
}

.menu-icon-mobile {
    display: none;
}

@media (max-width: 768px) {
  .menu-icon-mobile {
    display: block;
    width: 26px;
    margin: 20px 30px;
  }
}

.menu-list {
  width: 80vh;
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }

  .menu-list.--drop-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 55vh;
    height: 45vh;
    width: 100vw;
    transform: rotate(0deg);
    z-index: 99;
  }
}

.menu-list a {
  text-decoration: none;
  position: relative;
  color: #000;
}

.menu-list a:hover {
  color: #000;
}

.menu-list a:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  bottom: -2px;
  left: 20px;
  font-size: 1rem;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-item {
  margin-left: 30px;
  font-size: 1rem;
  color: #000;
  font-family: SkyhookMonoRegular;
  position: relative;
  text-decoration: none;
}



@media (max-width: 768px) {
  .menu-item {
    display: none;
    margin-right: 25px; 
  }

  .menu-item.--drop-item {
    display: block;
    font-family: SkyhookMonoBold;
    font-size: 1.5rem;
    color: rgb(256,256,256);
  }
}

.menu-lang {
  width: 15vw;
  display: none;
  flex-direction: row-reverse;
  list-style: none;
  transform: rotate(-90deg);
  color: #000;
}

@media (max-width: 768px) {
  .menu-lang .--drop-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 55vh;
    height: 45vh;
    width: 100vw;
    transform: rotate(0deg);
    z-index: 99;
  }
}
}


/*  Home  */
@media (max-width: 768px) {
  .home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-wrapper {
  width: 93vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  @media (max-width: 768px) {
  .home-wrapper {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
  }
}

.home-content-eco {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-image: url(../img/Imagem1@2x.jpg);
  background-size: cover;  
  background-position: center
}

.home-content-social {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-image: url(../img/Imagem2@2x.jpg);
  background-size: cover; 
  background-position: center

}

.home-content-lixo {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-image: url(../img/Imagem3@2x.jpg);
  background-size: cover; 
  background-position: center
}


.home-more {
  width: 70%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .home-more{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.more-span {
  width: 100%;
  height: 6vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 60px;
  border: black;
  border-width: 1px;
  border-style: solid;
}

@media (max-width: 768px) {
  .more-span {
    width: 90%;
    height: 100%;
    background-color: #fff;
    border: none;
    bottom: 0;
  }
}

.more-description {
  font-size: 1rem;
  font-family: SkyhookMonoRegular;
}

.home-title {
  font-size: 6.75rem;
  font-family: Introdução, Black Caps;
  color: #fff;
  margin-left: 4rem;
}

.home-content-eco .isShow {
  width:  31vw;
  height: 40vh;
  position: absolute;
  top: 0;
  background-color: #FFDD00;
  opacity: .85;
  color: #000;
  font-family: SkyhookMonoRegular;
}

.isShow-title {
  font-size: 1rem;
  font-weight: 900;
  margin: 60px 0 0 60px;
}

.isShow-seta{
  margin: 10px 0 0 60px;
}

.isShow-descriptionEco {
  width: 40%;
  margin: 10px 0 0 60px;
  line-height: 1.35rem;
}

.isShow-descriptionSocial {
  width: 50%;
  margin: 10px 0 0 60px;
  line-height: 1.35rem;
}

.isShow-descriptionPessoal {
  width: 53%;
  margin: 10px 0 0 60px;
  line-height: 1.35rem;
}

.more-seta {
  font-size: 2.85rem;
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  margin-left: 2rem;
  color: #FFDD00;
  font-family: SkyhookMonoRegular;
  padding-bottom: 15px;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 40px;
  }
  50% {
    bottom: 55px;
  }
}
@media (max-width: 768px) {
  .more-seta{
    display: none;
  }
}


/*  Work */
.work {
 max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .work{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.work-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .work-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.work-content {
  width: 80vw;
  height: 100vh;
  display: flex;
}

.wrapper-work {
  height: 85%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .wrapper-work{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.container-title-work {
  width: 100%;
  font-size: 1.65rem;
  color: #000;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
}

.wrapper-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  width: 40vw;
}
@media (max-width: 768px) {
  .wrapper-topic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 65%;
  width: 100%;
  font-size: 2.5rem;
  font-family: Introdução, Black Caps;
  margin-top: 3rem;
  }
}

.work-intelligent {
  width: 45vw;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-color: #FF0070;
  cursor: pointer;
}
  @media (max-width: 768px) {
    .work-intelligent {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      margin-top: 5vh;
    }
  }

.work-tech{
  width: 45vw;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  background-color: #00C8DB;
  cursor: pointer;
}
  @media (max-width: 768px) {
    .work-tech {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      margin-top: 5vh;
    }
  }

.work-purpose{
  width: 45vw;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  background-color: #742698;
  cursor: pointer;
}
  @media (max-width: 768px) {
    .work-purpose {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      margin-top: 5vh;
    }
  }
.work-alt {
  display: none;
}
.work-alt--is-showing {
  display: flex;
}

.topic-titleIntelligent:hover {
  color: #FF0070;
}
.topic-titleTech:hover {
  color: #00C8DB;
}
.topic-titlePurpose:hover {
  color: #742698;
}

@media (max-width: 1100px) {
  .topic-titleIntelligent, .topic-titleTech, .topic-titlePurpose {
    font-size: 2.7rem;
  }
}

@media (max-width: 375px) {
  .topic-titleIntelligent, .topic-titleTech, .topic-titlePurpose{
    font-size: 2.19rem;
  }
}


.work-item {
  list-style: none;
  width: 90%;
  font-size: 1.25rem;
  color: #fff;
  margin-left: 40px;
  letter-spacing: 1px;
  line-height: 25px;
  font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 768px){
  .work-item{
    width: 90%;
    margin: 30px 0 0 20px;
    padding-bottom: 30px;
  }
}

.work-boxDescription {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.work-topic {
  font-size: 1.85rem;
  font-family: Introdução, Black Caps;
  cursor: pointer;
  margin-top: 67px;

}
.work-topic--is-selected .topic-titleIntelligent{
  color: #FF0070;
}

.work-topic--is-selected .topic-titleTech{
  color: #00C8DB;
}

.work-topic--is-selected .topic-titlePurpose{
  color: #742698;
}

.work-topic--is-selected .topic-description{
  color: #000;
  font-weight: bold;
}

@media (max-width: 768px) {
  .work-topic {
    font-size: 0.85rem;
    margin-top: 5vh;
  }
}


.work-boxDescription {
  width: 100%;
  height: 100%;
} 

.work-img {
  width: 100%;
  padding:30px; 
}

.topic-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: Introdução, Black Caps;
}

.span-intelligent {
  color: #FF0070;
}

.span-tech {
  color: #00C8DB;
}
.span-purpose {
  color: #742698;
}

.topic-description {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #767676;
  letter-spacing: .05rem;
  margin-left: 3.25rem;
}
 
.work-description {
  font-size: 1.25rem;
  color: #fff;
  padding: 40px;
  line-height: 1.75rem;
  font-family: 'Source Sans Pro', sans-serif;
  width: 85%;
}
@media (max-width: 768px) {
.work-description  {
  width: 90%;
  font-size: 1.25rem;
  margin: 30px 0 0 20px;
  color: #fff;
  line-height: 1.75rem;
  font-family: 'Source Sans Pro', sans-serif;
  }
}


/* approach */
.approach {
  width: 100vw;
  height: 100vh;
}
@media (max-width: 768px) {
  .approach {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    }
  }

.approach-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .approach-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.approach-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

@media (max-width: 768px) {
  .approach-wrapper {
    margin-top: 5vh;
    padding-bottom: 5vh;
  }
}

.box-info{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 90%;
  height: 50%;

}

@media (max-width: 768px) {
  .box-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

.approach-content {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100vw;
}

@media (max-width: 768px) {
  .approach-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }
}

.container-title-approach {
  width: 100%;
  font-size: 1.65rem;
  color: #000;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
}

.approach-title {
  font-family:  SkyhookMonoRegular;
  font-size: 3.15rem;
  display: flex;
  margin-top: 15px;
}
.approach-span {
  color: #767676;
  font-size: 1rem;
}

.approach-imgLead {
  width: 175px;
  display:inline-block;
  border:0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1); 
}

.approach img:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .approach-img {
    width: 155px;
    height: 155px;
  }
}

.approach-item {
  list-style: none;
  font-size: 1.25rem;
  padding-top: 15px;
  font-family: SkyhookMonoRegular;
}

/* Cases */
.case-container {
  width: 100vw;
  height: 100vh;
 
}
@media (max-width: 768px) {
  .case-container {
    display: flex;
    justify-content: flex-end;
  }
}

.case-container.k360 {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url("../img/Case-Capa-K360@2x.jpg");
  background-size: cover;
  background-position: center;
}

.case-container.startupin {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-Mypolis@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-container.robo {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-Robo@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-container.furnas {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-Furnas@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-container.vainaweb {
  width: 100vw;
  height: 100vh;
  display: flex;    
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/Case-Capa-VnW@2x.jpg);
  background-size: cover;
  background-position: center;
}

.case-content {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.case-wrapper {
  background-color: #f8f8f8;
  width: 100%;
  height: 40%;
  display: flex;
  padding: 2.5rem;
}

@media (max-width: 425px) {
  .case-wrapper {
    padding: 1.5rem
  }
}


.case-info{
  width: 33%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .case-info {
    width: 40vw;
  }
}

@media (max-width: 425px) {
  .case-info {
    width: 75vw;
  }
}

.container-title-case {
  font-size: 1.65rem;
  color: #fff;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
}
@media (max-width: 768px) {
  .container-description-case {
    width: 30vw;
  }
}

.container-description-case {
  font-size: 0.95rem;
  font-family: SkyhookMonoRegular;
  margin-top: 5px;  
  color: #fff;
}

.case-description { 
  font-size: 2rem;
  color: #fff;
  font-family: Introdução, Black Caps;
  font-weight: 900;
  display: none;
}

.case-description.-show {
  display: block;
}

.more-case {
  color: #ffdd00;
  font-family: SkyhookMonoRegular;
  font-size: 1rem;
  padding: 20px 0 0 20px;
}

.more-case-seta {
  color: #ffdd00;
  font-family: SkyhookMonoRegular;
  font-size: 1.5rem;
  padding-left: 20px;
}

.span-caseDescription{
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
  width: 30%;
  margin-top: 13px;
  display: none;
}
@media( max-width: 1024px) {
  .span-caseDescription{
    display: none;
    width: 30vw;
  }
}

.span-caseDescription.-show{
  display: block;
}

.case-itemNumber{
  margin-right: 3rem;
  font-size: .85rem;
  font-family: SkyhookMonoRegular;
}

.case-item {
  margin-left: 3rem;
  font-size: 1.15rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 18px 5px  0 0;
  color: #000;
}

.case-item, a{
   text-decoration: none;
}

.case-item--is-selected {
  font-weight: 900;
}

.case-list {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}
@media( max-width: 1024px) {
  .case-list{
    width: 100vw;
  }
}
/* Time */
.time{
  width: 100vw;
  height: 100vh;
}
@media (max-width: 768px) {
  .time {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.time-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .time-box {
    width: 100%;
    height: 100%;
  }
}

.container-title-time {
  width: 100%;
  font-size: 1.65rem;
  color: #000;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
  margin-top: 50px;
}

.container-description-time {
  width: 28%;
  font-family: SkyhookMonoBold;
  font-size: .95rem;
  line-height: 1.25rem;
}
@media (max-width: 768px) {
  .container-description-time {
    width: 85vw;
  }  
}

/*  Contact  */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/contato-ruido.gif");
}


.contact-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-box {
  position: relative;
  width: 65vw;
  margin-top: 15vh;
}

/*@media (max-width: 768px) {
  .contact .container {
    height: 100vh;
  }*/

 /* .contact-description {
    width: 100%;
  }
}*/

@media (max-width: 768px) {
  .contact-box {
    width: 90vw;
  }
}
.container-title-contact {
  width: 100%;
  font-size: 1.65rem;
  color: #000;
  letter-spacing: 0.25rem;
  opacity: .7;
  font-family: Introdução, Black Caps;
}


.contact-text{
  font-family: Source Sans Pro, sans-serif;
  font-size: 2.125rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 10px 0px 0px 4px #000, -10px 0px 0px 4px #000;
  background: #000;
  display: inline;
}


.contact-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.contact-address-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 14px 0px 0px 0px #000, -14px 0px 0px 0px #000;
  background: #000;
  display: inline;
  margin: 5px 0;
}

@media (max-width: 425px) {
  .contact-description-text {
    font-size: 1.75rem;
    line-height: 46px;
  }

  .contact-address-text {
    font-size: 1.125rem;
    line-height: 34px;
  }

}

.contact-social {
  width: 65vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 4vh;
}


@media (max-width: 768px) {
  .contact-social{
    justify-content: space-between;
    flex-flow: row wrap;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
    .contact-social{
    width: 300px;
    margin-bottom: 0;
    }
}

.contact-social a {
  color: black;
  margin-right: 30px;
}

.contact-social-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 10px rgb(255, 221, 0);
  background: rgb(255, 221, 0);
  display: inline;
}

.contact-social-text:hover {
  transform: translateY(-100%);
}



@media (max-width: 768px) {
  .contact-social-text {
    font-size: 1rem;
    padding: 10px;
    box-shadow: 10px 0 0 0 rgb(255, 221, 0), -10px 0 0 0 rgb(255, 221, 0);
  }
  .contact-social a {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .contact-social-text {
    padding: 6px;
    box-shadow: 6px 0 0 0 rgb(255, 221, 0), -6px 0 0 0 rgb(255, 221, 0);
  }
}

.development-box {
  width: 65vw;
  display: flex;
  margin-top: 4vh;
}
@media(max-width: 425px){
  .development-box{
    width: 80vw;
    height: 5vh;
    margin: 0;
  }
}

.contact-development {
  font-family: SkyhookMonoBold;
  font-size: .75rem;
  box-shadow: 10px 0 0 0 white, -10px 0 0 0 white;
  background-color: white;
  padding: 5px 0;
}

.contact-development a {
  margin: 0;
}

@media (max-width: 768px) {
  .contact-development {
    margin: 20px auto 0 0;
  }
}

@media (max-width: 768px) {
  .contact-development {
    font-family: SkyhookMonoBold;
    font-size: .75rem;
    box-shadow: 6px 0 0 0 white, -6px 0 0 0 white;
    background-color: white;
    padding: 5px 0;
  }
}

/* Animação */
 
[data-anime] {
  opacity: 0;
  transition: .3s;
}
 
[data-anime="left"] {
  transform: translate3d(-650px, 0, 0);
}
 
[data-anime="right"] {
  transform: translate3d(500px, 0, 0);
}
 
[data-anime="top"] {
  transform: translate3d(0, -650px, 0);
}
 
[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/*.wrapper-topic {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}

.wrapper-topic {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
*/
/*=== FADE IN LEFT ===*/
/*@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.wrapper-topic {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
*/